.container {
  margin: 80px 0 0 0;
}

.menu {
  & > li {
    margin: 0 0 6px 0;
  }
  & > li > a {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: #ffffff;
    transition: color 0.2s ease;

    &:hover {
      color: #9c9ca4;
    }
  }
}
