.btn {
  font-weight: 600;
  font-size: 14px;
  color: #000000;
  background-color: white;
  border: none;
  height: 32px;
  padding: 0 30px;
  border-radius: 100px;

  cursor: pointer;
  box-sizing: content-box;
  transition: background-color 0.2s ease, color 0.2s ease;
  &:hover {
    color: white;
    background-color: #333333;
  }
  &:disabled {
    color: #9c9ca4;
    background-color: grey;
    cursor: default;
  }
}
