.btn {
  font-weight: 600;
  font-size: 14px;
  color: #000000;
  background-color: white;
  border: none;
  height: 32px;
  padding: 0 30px;
  border-radius: 100px;

  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  &:hover {
    color: white;
    background-color: #333333;
  }
  &:disabled {
    color: #9c9ca4;
    background-color: grey;
    cursor: default;
  }

  &.wide {
    width: 100%;
  }

  &.secondary {
    background-color: #000000;
    border: 1px solid white;
    color: white;

    &:hover {
      background-color: white;
      color: black;
    }
  }

  &.loading {
    color: #9c9ca4;
    background-image: linear-gradient(
      to right,
      #7d7d86 0%,
      #ffffff 50%,
      #7d7d86 100%
    );
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

    animation-name: loading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
}

@keyframes loading {
  0% {
    background-position: 0% center;
  }
  50% {
    background-position: 100% center;
  }
  100% {
    background-position: 0% center;
  }
}
